@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
header {
  background-color: #74c77b;
  padding-block: 3rem;
}
header .header {
  background-color: #74c77b;
  height: 750px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 35px;
  color: white;
}
header .navbar ul {
  display: flex;
  gap: 2rem;
}
header .navbar ul li {
  list-style: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
header .navbar i {
  display: none;
}

header {
  background-color: #74c77b;
  padding-block: 3rem;
}
header .header {
  background-color: #74c77b;
  height: 750px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 35px;
  color: white;
}
header .navbar ul {
  display: flex;
  gap: 2rem;
}
header .navbar ul li {
  list-style: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
header .navbar i {
  display: none;
}

.plans {
  display: flex;
  justify-content: space-around;
}
.plans .plans_card {
  box-shadow: 0px 0px 10px #555;
  width: 310px;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.plans .plans_card p {
  font-size: 18px;
}
.plans .plans_text {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.plans .plans_text button {
  padding: 14px 30px #555;
}
.plans .plans_text h1 {
  font-size: 27px;
  margin-left: 2.5rem;
}
.plans .plans_text h5 {
  color: #555;
}
.plans .plans_text i {
  color: #74c77b;
}
.plans h3 {
  color: #555;
  font-size: 14px;
}

header {
  background-color: #74c77b;
  padding-block: 3rem;
}
header .header {
  background-color: #74c77b;
  height: 750px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 35px;
  color: white;
}
header .navbar ul {
  display: flex;
  gap: 2rem;
}
header .navbar ul li {
  list-style: none;
}
header .navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
header .navbar i {
  display: none;
}
header .hero {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}
header .hero h1 {
  font-size: 40px;
  width: 70%;
  letter-spacing: 2px;
  color: #fff;
}
header .hero h3 {
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 1rem;
}
header .hero p {
  font-size: 16px;
  width: 80%;
  margin-top: 1rem;
  color: #fff;
}
header .hero button {
  padding: 14px 45px;
  border-radius: 10px;
  margin-top: 1rem;
  border: none;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inder", sans-serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.Partnes {
  text-align: center;
  margin-top: 3rem;
}
.Partnes p {
  color: #74c77b;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}
.Partnes h2 {
  font-size: 35px;
}
.Partnes h4 {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
.Partnes span {
  margin-top: -5rem;
  font-size: 20px;
}
.Partnes .icons {
  display: flex;
  justify-content: space-around;
}
.Partnes button {
  font-size: 18px;
  background-color: #000;
  margin-top: 4rem;
  padding: 14px 30px;
  border-radius: 10px;
  color: #fff;
}

.img_parent {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  gap: 5rem;
}
.img_parent h2 {
  font-size: 40px;
  width: 80%;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.img_parent p {
  font-size: 20px;
  width: 95%;
  font-weight: 400;
  color: #555;
}
.img_parent button {
  padding: 14px 30px;
  color: #fff;
  background-color: #000;
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 18px;
}

.img_parent2 {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  gap: 5rem;
}
.img_parent2 h2 {
  font-size: 40px;
  width: 80%;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.img_parent2 p {
  font-size: 20px;
  width: 95%;
  font-weight: 400;
  color: #555;
}
.img_parent2 button {
  padding: 14px 30px;
  color: #fff;
  background-color: #000;
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 18px;
}

.team {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.team .team_box {
  width: 280px;
  padding: 2rem;
  line-height: 2;
  box-shadow: 0px 0px 10px #555;
  border-radius: 8px;
}
.team .team_box img {
  margin-left: 1.4rem;
}
.team .team_box h2 {
  font-size: 22px;
  letter-spacing: 2px;
}

.button {
  text-align: center;
  margin-top: 3.5rem;
}
.button button {
  padding: 14px 30px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 2rem;
}

footer {
  background-color: #74c77b;
  padding: 3rem 4rem;
  color: #fff;
}
footer .footer_box {
  display: flex;
  justify-content: space-between;
}
footer .icon_footer i {
  margin-left: 1rem;
}
footer h3 {
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  header .container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
  }
  header .header {
    background-color: #74c77b;
    height: 750px;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 35px;
    color: white;
  }
  header .navbar ul {
    display: none;
  }
  header .navbar i {
    display: block;
    color: #fff;
    font-size: 30px;
  }
  header .hero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
  }
  header .hero img {
    width: 100%;
  }
  header .hero h1 {
    font-size: 20px;
    width: 70%;
    letter-spacing: 2px;
    color: #fff;
  }
  header .hero h3 {
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  header .hero p {
    font-size: 14px;
    width: 80%;
    margin-top: 1rem;
    color: #fff;
  }
  header .hero button {
    padding: 14px 45px;
    border-radius: 10px;
    margin-top: 1rem;
    border: none;
    font-size: 18px;
  }
  .Partnes {
    text-align: center;
    margin-top: 3rem;
  }
  .Partnes p {
    color: #74c77b;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .Partnes h2 {
    font-size: 25px;
  }
  .Partnes h4 {
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
  .Partnes span {
    margin-top: -5rem;
    font-size: 20px;
  }
  .Partnes .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
  }
  .Partnes .icons img {
    width: 50%;
    margin-bottom: 2.5rem;
  }
  .Partnes button {
    font-size: 18px;
    background-color: #000;
    margin-top: 4rem;
    padding: 14px 30px;
    border-radius: 10px;
    color: #fff;
  }
  .img_parent {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
  }
  .img_parent img {
    width: 100%;
  }
  .img_parent h2 {
    font-size: 20px;
    width: 80%;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .img_parent p {
    font-size: 20px;
    width: 95%;
    font-weight: 400;
    color: #555;
  }
  .img_parent button {
    padding: 14px 30px;
    color: #fff;
    background-color: #000;
    margin-top: 2rem;
    border-radius: 10px;
    font-size: 18px;
  }
  .img_parent2 {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
  }
  .img_parent2 img {
    width: 100%;
  }
  .img_parent2 h2 {
    font-size: 20px;
    width: 80%;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .img_parent2 p {
    font-size: 16px;
    width: 95%;
    font-weight: 400;
    color: #555;
  }
  .img_parent2 button {
    padding: 14px 30px;
    color: #fff;
    background-color: #000;
    margin-top: 2rem;
    border-radius: 10px;
    font-size: 18px;
  }
  .team {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
  }
  .team .team_box {
    width: 300px;
    padding: 2rem;
    line-height: 2;
    box-shadow: 0px 0px 10px #555;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  .team .team_box img {
    margin-left: 1.4rem;
  }
  .team .team_box h2 {
    font-size: 22px;
    letter-spacing: 2px;
  }
  .button {
    text-align: center;
    margin-top: 1rem;
  }
  .button button {
    padding: 14px 30px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  footer {
    background-color: #74c77b;
    padding: 3rem 4rem;
    flex-direction: column;
    color: #fff;
  }
  footer .footer_box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  footer .icon_footer i {
    margin-left: 1rem;
    font-size: 19px;
    margin-bottom: 1rem;
  }
  footer h3 {
    font-weight: 400;
    font-size: 16px;
  }
}
.porfolio_text {
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}
.porfolio_text h3 {
  color: #74c77b;
  margin-bottom: 1rem;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.porfolio_text h1 {
  font-size: 40px;
}
.porfolio_text p {
  font-size: 22px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.porfolio {
  display: flex;
  gap: 2rem;
}
.porfolio img {
  margin-left: 2rem;
  margin-top: 3rem;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .porfolio_text {
    text-align: center;
    margin-top: 3rem;
    width: 100%;
  }
  .porfolio_text h3 {
    color: #74c77b;
    margin-bottom: 1rem;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .porfolio_text h1 {
    font-size: 40px;
  }
  .porfolio_text p {
    font-size: 22px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .porfolio {
    display: flex;
    gap: 2rem;
  }
  .porfolio img {
    margin-left: 1rem;
    margin-top: 3rem;
    object-fit: cover;
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plans .plans_card {
    box-shadow: 0px 0px 10px #555;
    width: 90%;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .plans .plans_card p {
    font-size: 18px;
  }
  .plans .plans_text {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .plans .plans_text button {
    padding: 14px 30px #555;
  }
  .plans .plans_text h1 {
    font-size: 35px;
    margin-left: 3.5rem;
  }
  .plans .plans_text h5 {
    color: #555;
  }
  .plans .plans_text i {
    color: #74c77b;
  }
  .plans h3 {
    color: #555;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
